<div class="table-container">
    <h1 class="text-4xl font-extrabold text-gray-800">Point Table</h1>
    <div class="overflow-x-auto">
        <table class=" shadow-sw text-center mt-8  min-w-full bg-white border border-gray-300 rounded-lg shadow-lg">
            <thead class="bg-blue-800 text-white">
                <tr>
                    @for (item of tableHeading; track $index) {
                        <th class="py-3 px-6 text-left">{{item}}</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (item of pointTabe; track $index) {
                    <tr class="border-b hover:scale-110  hover:font-bold cursor-pointer border-gray-200 hover:bg-gray-100 transition duration-150 ease-in-out"
                    [ngClass]="{'bg-green-200':$index<=4,'bg-red-300':$index>=5}"
                    >
                        @if ($index>0) {
                            @for (item1 of item; track $index) {
                                <td class="py-4 px-6">{{item1}}</td>
                            } 
                        }  
                }
            </tbody>
        </table>
    </div>
</div>
